@media screen and (min-width: 980px) {
    body {
        padding: 40px 0px 0;
    }
}

@media screen and (min-width: 768px) {
    div.responsive {width: 720px}
    div.responsive img { height: auto; max-width: 240px }
}

@media screen and (max-width: 768px) {
    div.responsive {width: 240px}
    div.responsive img { height: auto; max-width: 240px }
}

body {
    background-image: url("./../img/back_blue_check.png");
}

.well, .jumbotron, .thumbnail {
    background: rgba(255, 255, 240, 1);
}

.thumbnail {
    border: #fffff0;
}

.jumbotron h1, h2 {
    color: #191970;
    font-weight: bold;
}

.navbar-inverse {
    background-image:-webkit-linear-gradient(top,#4169e1 0,#202080 100%);
    background-image:linear-gradient(to bottom,#4169e1 0,#202080 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4169e1',endColorstr='#202080',GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.navbar-inverse .navbar-nav>.active>a{
    background-image:-webkit-linear-gradient(top,#202080 0,#4169e1 100%);
    background-image: linear-gradient(to bottom,#202080 0,#4169e1 100%);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#202080',endColorstr='#4169e1',GradientType=0);
    -webkit-box-shadow:inset 0 3px 9px rgba(32,32,128,0.25);box-shadow:inset 0 3px 9px rgba(32,32,128,0.25)}

.navbar-inverse .navbar-nav>li>a{
    color: #99c;
}

.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{
    background-color: #202080;
}

.navbar-inverse .navbar-toggle{
    border-color: #101080;
}

.col-centered{
        float: none;
        margin: 0 auto;
}
