@media screen and (min-width: 980px) {
    body {
        padding: 40px 0px 0;
    }
}

@media screen and (min-width: 768px) {
    div.responsive {width: 720px}
    div.responsive img { height: auto; max-width: 240px }
}

@media screen and (max-width: 768px) {
    div.responsive {width: 240px}
    div.responsive img { height: auto; max-width: 240px }
}

body {
    background-image: url("./../img/back_blue_check.png");
}

.well, .jumbotron, .thumbnail {
    background: rgba(255, 255, 240, 1);
}

.jumbotron h1, h2 {
    color: #191970;
    font-weight: bold;
}

.col-centered{
        float: none;
        margin: 0 auto;
}
