@media screen and (min-width: 980px) {
    body {
        padding: 40px 0px 0;
    }
}

body {
    background-image: url("./img/back_blue_check.gif")
}

.well {
    background: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
    div.responsive {width: 720px}
    div.responsive img { height: auto; max-width: 240px }
}

@media screen and (max-width: 768px) {
    div.responsive {width: 240px}
    div.responsive img { height: auto; max-width: 240px }
}

.col-centered{
        float: none;
        margin: 0 auto;
}
